@{
    ViewData["Title"] = "Services";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Our Services</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <img src="~/images/service1.jpg" class="card-img-top" alt="Service 1">
                <div class="card-body">
                    <h5 class="card-title">Facility Reservation</h5>
                    <p class="card-text">Reserve community facilities for private events and gatherings.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <img src="~/images/service2.jpg" class="card-img-top" alt="Service 2">
                <div class="card-body">
                    <h5 class="card-title">Billing & Payments</h5>
                    <p class="card-text">Easily manage and pay your dues through our secure online portal.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <img src="~/images/service3.jpg" class="card-img-top" alt="Service 3">
                <div class="card-body">
                    <h5 class="card-title">Security & Visitor Pass</h5>
                    <p class="card-text">Request visitor passes and register vehicles for added security.</p>
                </div>
            </div>
        </div>
    </div>
</div>
